EN:
Requirements:
Write a parser for the METRO website.

1) The program should search for fruits in the cities of Moscow and St. Petersburg
2) Select only those products that are in stock
3) Upload the results of the work in json format

Required uploaded data:
-item id
-Name
-link to the product
-regular price
-promo price
-brand

Additional requirements:
Since there was not enough time to implement the program due to my main work,
I'll try to fix it in the next update:
-fix output bug in json
-remove test prints
-remove unnecessary comments
-write pep257 documentation where there is none
-split the MainSiteHTML class into small methods
-change the structure of the MainSiteHTML class so as not to violate the DRY principle
-write Unit tests

RU:
Требования:
Написать парсер для сайта METRO.

1)Программа должна искать фрукты по городам Москва и Санкт-Петербург
2)Отбирать только те товары, которые есть в наличии
3)Выгружать результаты работы в формат json

Необходимые выгружаемые данные:
-id товара
-наименование
-ссылка на товар
-регулярная цена
-промо цена
-бренд

Дополнительные требования:
Так как немного не хватило времени на реализацию программы из-за основной работы,
в следующем обновлении попытаюсь исправить:
-поправить баг вывода в json
-убрать тестовые prints
-убрать лишние комментарии
-написать документацию pep257, где ее нет
-разбить класс MainSiteHTML на небольшие методы
-изменить структуру класса MainSiteHTML чтобы не нарушать принцип DRY
-написать Unit tests

