EN:
Requirements:
Write a parser for the METRO website.

1) The program should search for fruits in the cities of Moscow and St. Petersburg
2) Select only those products that are in stock
3) Upload the results of the work in json format

Required uploaded data:
-item id
-Name
-link to the product
-regular price
-promo price
-brand

Additional requirements:
Since there was not enough time to implement the program due to my main work,
Unit tests will be added in the next update

RU:
Требования:
Написать парсер для сайта METRO.

1)Программа должна искать фрукты по городам Москва и Санкт-Петербург
2)Отбирать только те товары, которые есть в наличии
3)Выгружать результаты работы в формат json

Необходимые выгружаемые данные:
-id товара
-наименование
-ссылка на товар
-регулярная цена
-промо цена
-бренд

